<div class="container">
    <h5>会員情報編集</h5>
    <div class="row justify-content-center mt-2">
        <div class="col-md-8">

        <%= form_with model: @customer, url:customers_path, method: :patch, local: true do |f| %>
            <div class="form-group">
                <%= f.label :name, "氏名　　　　　" %>
                <%= f.text_field :last_name, placeholder:"姓" %>
                <%= f.text_field :first_name, placeholder:"名" %>
            </div>

            <div class="form-group">
                <%= f.label :kana, "フリガナ　　　" %>
                <%= f.text_field :last_name_kana, placeholder:"セイ" %>
                <%= f.text_field :first_name_kana, placeholder:"メイ" %>
            </div>

            <div class="form-group">
                <%= f.label :postal_code, "郵便番号　　　" %>
                <%= f.text_field :postal_code, placeholder:"ハイフンなし" %>
            </div>

            <div class="form-group">
                <%= f.label :address, "住所　　　　　" %>
                <%= f.text_field :address, placeholder:"", :size=>"50" %>
            </div>

            <div class="form-group">
                <%= f.label :telephone_number, "電話番号　　　" %>
                <%= f.text_field :telephone_number, placeholder:"ハイフンなし" %>
            </div>

            <div class="form-group">
                <%= f.label :email, "メールアドレス" %>
                <%= f.text_field :email, placeholder:"" %>
            </div>

           <div class="form-group">
            <%= f.submit"編集内容を保存", class: 'btn btn-outline-primary mx-5' %>

            <%= link_to"退会する",customers_unsubscribe_path, class: 'btn btn-outline-danger' %>
          </div>
            <% end %>
        </div>
    </div>
</div>