<div class="container mx-auto px-5">
  <div class="row">
    <div class="col-sm-12">
      <h2>商品編集</h2>
      <div class>
        <%= form_with model: @item, url:admin_item_path(@item.id), method: :patch, local: true do |f| %>
        <div class="form-group row">
          <%= f.label :image, "商品画像", class: "col-sm-3 col-form-label" %>
          <div class="form-group col-md-8">
            <%= f.file_field :image, accept:"image/*" %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :name, "商品名", class: "col-sm-3 col-form-label" %>
          <div class="form-group col-md-8">
            <%= f.text_field :name, class: 'form-control w-50', placeholder:"商品名" %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :description, "商品説明", class: "col-sm-3 col-form-label" %>
          <div class="form-group col-md-8">
            <%= f.text_area :description, class: 'form-control w-50', placeholder:"ここに説明文を記述します" %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :genre, "ジャンル", class: "col-sm-3 col-form-label" %>
          <div class="form-group col-md-8">
            <%= f.collection_select(:genre_id, @genres, :id, :name, {prompt:"--選択してください--"}) %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :excluding_tax_price, "税抜価格", class: "col-sm-3 col-form-label" %>
          <div class="form-group col-md-8">
            <%= f.number_field :excluding_tax_price, class: 'form-control w-50', min: 0, placeholder:"1000" %>円
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :item, "販売ステータス", class: "col-sm-3 col-form-label" %>
          <div class="form-group col-md-2">
            <%= f.radio_button :is_active, true %>販売中
          </div>
          <div class="form-group col-md-2">
            <%= f.radio_button :is_active, false %>販売停止中
          </div>
        </div>
        <div><%= f.submit "変更を保存", class:"btn btn-success btn-wrapper col-2 mx-auto" %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>