<h1>商品新規登録</h1>
<div class>
<%= form_with model: @item do |f| %>
<p><%= f.file_field :image, accept:"image/*" %></p>
<p><%= f.text_field :name, placeholder:"商品名" %>
<p><%= f.text_area :description, placeholder:"ここに説明文を記述します" %>
<p><%= f.text_field :genre, placeholder:"選択してください" %>
<p><%= f.number_field :excluding_tax_price, min: 0, placeholder:"1000" %><span>円</span>
<p><%= f.select :item, [['販売中',true],['販売停止中',false]] %>
<p><%= f.submit "新規登録", class:"btn btn-success" %>
<% end %>
</div>
