<h5><%= @customer.last_name + ' ' + @customer.first_name %> さんの会員情報編集</h5>
<div class="container">
    <div class="row">

        <%= form_with model: @customer, url:admin_customer_path, method: :patch, local: true do |f| %>
            <div class="form-group">
                <%= f.label :id, "会員ID　　　　　" %>
            </div>
            <div class="form-group">
                <%= f.label :name, "氏名　　　　　" %>
                <%= f.text_field :last_name, placeholder:"姓" %>
                <%= f.text_field :first_name, placeholder:"名" %>
            </div>

            <div class="form-group">
                <%= f.label :kana, "フリガナ　　　" %>
                <%= f.text_field :last_name_kana, placeholder:"セイ" %>
                <%= f.text_field :first_name_kana, placeholder:"メイ" %>
            </div>

            <div class="form-group">
                <%= f.label :postal_code, "郵便番号　　　" %>
                <%= f.text_field :postal_code, placeholder:"ハイフンなし" %>
            </div>

            <div class="form-group">
                <%= f.label :address, "住所　　　" %>
                <%= f.text_field :address, placeholder:"", :size=>"60" %>
            </div>

            <div class="form-group">
                <%= f.label :telephone_number, "電話番号　　　" %>
                <%= f.text_field :telephone_number, placeholder:"ハイフンなし" %>
            </div>

            <div class="form-group">
                <%= f.label :email, "メールアドレス" %>
                <%= f.text_field :email, placeholder:"" %>
            </div>

            <div class="form-group">
                <%= f.label :is_deleted, "会員ステータス" %>
                <%= f.radio_button :is_deleted, false %>
                <%= f.label :is_deleted, "有効" %>
                <%= f.radio_button :is_deleted, true %>
                <%= f.label :is_deleted, "退会" %>
            </div>

           <div class="form-group">
            <%= f.submit"変更を保存", class: 'btn btn-primary mx-5' %>
          </div>
            <% end %>
    </div>
</div>