<div class="container">
  <div class="col-12 col-md-10 col-lg-9 mx-auto">
    <h1 class="m-1">注文履歴一覧</h1>
    <div>
          <% if @orders.present? %>
      <table class="table text-center table-condensed mt-3">
        <thead>
          <tr>
            <th>注文日</th>
            <th>配送先</th>
            <th>注文商品</th>
            <th>支払い金額</th>
            <th>ステータス</th>
            <th>注文詳細</th>
            <td></td>
          </tr>
        </thead>
        <tbody>
            <% @orders.each do |order| %>
      <tr>
       　<td>
            <%= order.created_at %>
        </td>
            <td><%= current_customer.postal_code+ current_customer.address+ current_customer.last_name + current_customer.first_name %></td>
            <td>
          <% order.order_details.each do |order_detail| %>
            <%= order_detail.item.name %>
          <% end %>
        </td>
            <td><%= order.total_payment%>円</td>
            <td><%= order.status %></td>
            <td><%= link_to "表示する", order_path(order), class: "btn btn-primary" %></td>
        <% end %>
      </tr>
      
      
    <% end %>
  </tbody>
  </table>
   