<div class="container">
  <h5>注文情報入力</h5>
  <div class="row justify-content-center mt-2">
  <div class="col-md-8">

   <div class="mx-auto">
      <%= form_with model: @order, url: orders_log_path, method: :post do |f| %>
      <%= f.hidden_field :postage, :value => 800 %>
      <%= f.hidden_field :total_payment, :value => @total %>
      <div class="p-4">
      <h4 class="headline-blue">支払方法</h4>
        <div class="mb-4 p-2 bg-light rounded">
          <div class="py-3 px-2">
            <div>
              <h5>
               <%= f.radio_button :payment_method, "credit_card" %>
               <%= f.label :payment_method, "クレジットカード" %>
              </h5>
            </div>
            <div>
              <h5>
                <%= f.radio_button :payment_method, "transfer" %>
                <%= f.label :payment_method, "銀行振込" %>
              </h5>
            </div>
         <h5>お届け先</h5>

              <%= f.radio_button :address_option, 0 %>
              <%= f.label :order_address, "ご自身の住所" %>
           <br>
               〒<%= current_customer.postal_code %>
               <%= current_customer.address %><br>
               <%= current_customer.last_name %><%= current_customer.first_name %>
           <br>

                <%= f.radio_button :address_option, 1 %>
                <%= f.label :order_address, "登録済住所から選択" %>

            <br>
                <%= f.collection_select :address_id, @address, :id, :full_adresses %>
                <%= f.radio_button :address_option, 2 %>
                <%= f.label :order_address, "新しいお届け先" %>

              <table>
            <tr>
                 <td><%= f.label :shipping_post_code, "郵便番号(ハイフンなし)" %></td>
                 <td><%= f.text_field :shipping_post_code %></td>
            </tr>
            
            <tr>
            <td><%= f.label :shipping_address, "住所" %></td>
            <td><%= f.text_field :shipping_address %></td>
            </tr>

           <tr>

           <td><%= f.label :shipping_name, "宛名" %></td>
           <td><%= f.text_field :shipping_name %></td>

           </tr>
           </table>
           </div>
        <div class="row justify-content-center mt-2">
               <%= f.submit "確認画面へ進む", class: 'btn btn-outline-primary' %>
        </div>
             </div>
             </div>
         <% end %>
        