
<div class="container">
  <div class="col-md-10 col-lg-9 col-xl-7 mx-auto">
   <div class="p-2 text-center">
     <h1>支払情報入力</h1>
   </div>
   <div class="mx-auto">
      <%= form_with model: @order, url: orders_log_path, method: :post do |f| %>
      <%= f.hidden_field :postage, :value => 800 %>
      <%= f.hidden_field :total_payment, :value => @total %>
      <div class="p-4">
      <h4 class="headline-blue">支払方法</h4>
        <div class="mb-4 p-2 bg-light rounded">
          <div class="py-3 px-2">
            <div>
              <h5>
               <%= f.radio_button :payment_method, "credit_card" %>
               <%= f.label :payment_method, "クレジットカード" %>
              </h5>
            </div>
          <% end %>  