<!DOCTYPE html>
<html class="fontawesome-i2svg-active fontawesome-i2svg-conpete">
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <br>
    <% if customer_signed_in? %>
      <div>
        <%= link_to customers_path, class: "nav-link" do %>
        <p>マイページ</p>
        <% end %>
      </div>
      <div>
        <%= link_to items_path, class: "nav-link" do %>
        <p>商品一覧</p>
        <% end %>
      </div>
      <div>
        <%= link_to cart_items_path, class: "nav-link" do %>
        <p>カート一覧</p>
        <% end %>
      </div>
      <div>
        <%= link_to destroy_customer_session_path, class: "nav-link" , method: :delete do %>
        <p>ログアウト</p>
        <% end %>
      </div>
    <% elsif admin_signed_in? %>
      <div>
        <%= link_to admin_items_path, class: "nav-link" do %>
        <p>商品一覧</p>
        <% end %>
      </div>
      <div>
        <%= link_to admin_customers_path, class: "nav-link" do %>
        <p>会員一覧</p>
        <% end %>
      </div>
      <div>
        <%= link_to admin_path, class: "nav-link" do %>
        <p>注文履歴一覧</p>
        <% end %>
      </div>
      <p>
        <%= link_to admin_genres_path, class: "nav-link" do %>
        <p>ジャンル一覧</p>
        <% end %>
      </p>
      <p>
        <%= link_to destroy_admin_session_path, class: "nav-link" , method: :delete do %>
        <p>ログアウト</p>
        <% end %>
      </p>
    <% else %>
      <div>
        <%= link_to about_path, class: "nav-link" do %>
        <p>about</p>
        <% end %>
      </div>
      <div>
        <%= link_to items_path, class: "nav-link" do %>
        <p>商品一覧</p>
        <% end %>
      </div>
      <div>
        <%= link_to new_customer_registration_path, class: "nav-link" do %>
        <p>新規登録</p>
        <% end %>
      </div>
      <div>
        <%= link_to new_customer_session_path, class: "nav-link" do %>
        <p>ログイン</p>
        <% end %>
      </div>
    <% end %>

    </header>
    <%= yield %>
  </body>
</html>
